title: Granite Documentation
description: Self-hosted knowledge base and note-taking application
theme: jekyll-theme-cayman

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: false

plugins:
  - jekyll-relative-links

relative_links:
  enabled: true
  collections: true

include:
  - CONTRIBUTING.md
  - README.md

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
